<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @highscore.name %>
</p>

<p>
  <b>Score:</b>
  <%= @highscore.score %>
</p>


<%= link_to 'Edit', edit_highscore_path(@highscore) %> |
<%= link_to 'Back', highscores_path %>
